<nav class="navbar navbar-expand-lg navbar-black bg-black" style="border-bottom: 1px solid #ccc">
  <div class="container-fluid">

      <a href="/" aria-current="page" class="navbar_logo-link w-nav-brand w--current" aria-label="home"><img src="https://assets-global.website-files.com/6222ca42ea87e1bd1aa1d10c/62242940556df4e8146db519_white-logo.svg" loading="lazy" alt="Harness logo" class="navbar_logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">

        <button class="btn btn-light my-2 my-sm-0" type="submit" style="margin-right:5px;" ><a href="https://app.harness.io/auth/#/signup?utm_source=harness_io&utm_medium=cta&utm_campaign=platform&utm_content=main_nav" style="color:black; font-weight:800;">Sign Up</a></button>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" ><a href="https://www.harness.io/company/contact-sales?utm_source=harness_io&utm_medium=cta&utm_campaign=platform&utm_content=main_nav" style="color: white; font-weight:800;">Contact Us</a></button>

      </form>
    </div>
  </div>
</nav>
